.textspeech-container {
  display: flex;
  flex-direction: column;

  > .item {
    margin-bottom: 8px;

    textarea {
      height: 100%;
    }
  }
}

.speechtext-container {
  display: flex;
  flex-direction: column;

  > .item {
    margin-bottom: 8px;

    textarea {
      height: 100%;
    }
  }
}